/* You can add global styles to this file, and also import other style files */
html {
  body {
    display: flex;
    justify-content: center;
    color: #fff8d4;
    background-color: #1d1d1d;
  }
}
